<div class="mota_dai">
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-note.jpg">
	<h5>Bài viết đánh giá</h5>
	<h6>Samsung Galaxy A52 56 ra mắt được tran6 bị con chip Snapdragon 750G có hỗ trợ 5G tốc độ cao, trải nghiệm đã mắt với màn hình Super AMOLED đi cùng với dung lượng pin lớn và thuộc phân khúc tầm trung rất dễ tiếp cận với mọi người dùng.</h6>
	<h6>Thiết kế hiện đại, mở đầu xu hướng </h6>
	<p>Samsung Galaxy A52 5G sở hữu thiết kế nguyên khối với mặt lưng được phủ một lớp nhám, các chi tiết thừa được bỏ đi tạo nên tổng thể đơn giản, sang trọng.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-001.jpg">
	<p>Bên cạnh đó, Samsung Galaxy A52 5G còn sở hữu khả năng kháng nước và bụi chuẩn IP67 giúp máy có thể chống nước ở độ sâu 1 mét tối đa 30 phút, giúp bạn yên tâm trải nghiệm trong mọi hoàn cảnh và môi trường.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-11.jpg">
	<p>Hệ thống âm thanh vòm với hai loa một ở trên và một ở dưới cùng của điện thoại, cho bạn những trải nghiệm chơi game hay phút giây giải trí cùng phim ảnh lên tầm cao mới nhờ chất âm chuẩn điện ảnh.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-14.jpg">
	<p>Samsung đem tới cho người tiêu dùng các sắc màu thời thượng bao gồm: Tím Thanh Lịch, Đen Bản Lĩnh, Trắng Tối Giản và Xanh Năng Động để bạn thoả thích thể hiện cá tính riêng của mình.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-15.jpg">
	<h5>Màn hình giải trí rực rỡ đa sắc màu</h5>
	<p>Màn hình là một trong những nâng cấp đáng chú ý nhất trên Galaxy A52 5G khi được hỗ trợ tần số quét cực cao 120 Hz, mọi trải nghiệm vuốt chạm, cuộn trang của bạn sẽ càng ấn tượng hơn.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-002-1.jpg">
	<p>Ấn tượng ban đầu với màn hình của Galaxy A52 5G là kiểu màn hình Infinity-O rộng 6.5 inch với độ sáng lên đến 800 nits, cho chất lượng hiển thị luôn sắc nét kể cả khi sử dụng dưới trời nắng gắt.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-28.jpg">
	<p>Ngoài ra, máy còn sở hữu công nghệ màn hình Super AMOLED mang đến chất lượng hiển thị sắc nét, hình ảnh tươi tắn cho bạn tận hưởng các chương trình giải trí hấp dẫn.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-003-1.jpg">
	<p>Hơn thế nữa, Samsung còn tăng cường bảo mật trên Galaxy A52 5G bằng công nghệ cảm biến vân tay ngay dưới màn hình giúp bạn có thể sử dụng vân tay để mở khóa điện thoại hay đăng nhập vào các ứng dụng mà không cần mật khẩu.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-004.jpg">
	<h5>Hiệu năng bức phá cùng Snapdragon 750G</h5>
	<p>Galaxy A52 5G được trang bị con chip Snapdragon 750G với quy trình 8 nm hiện đại mang đến năng lượng không giới hạn cho mọi trải nghiệm. </p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-003.jpg">
	<p>Kết hợp với 8 GB RAM cho bạn đa nhiệm được tốt hơn, tình trạng tải lại ứng dụng sẽ được hạn chế. Bộ nhớ trong 128 GB đi kèm đủ lớn để bạn lưu giữ những video, hình ảnh mà không lo bị đầy.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-17.jpg">
	<p>Samsung còn trang bị trên Galaxy A52 5G chế độ Game Booster cho khả năng tự động tối ưu hóa smartphone với tựa game đang chạy, đồng thời kiểm soát nhiệt độ và theo dõi thời lượng pin để mang tới cho người dùng trải nghiệm gaming đỉnh cao nhất.</p>
	<h5>Cụm 4 camera 64 MP hỗ trợ chống rung quang học OIS</h5>
	<p>Cụm camera trên Samsung Galaxy A52 5G năm nay cũng rất đáng mong chờ khi sở hữu các thông số khủng bao gồm: Camera chính độ phân giải 64 MP f/1.8, camera góc rộng 12 MP f/2.2, cho góc nhìn 123 độ, camera độ sâu 5 MP và cuối cùng là camera macro 5 MP.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-005.jpg">
	<p>Camera chính với độ phân giải 64 MP hỗ trợ chống rung quang học OIS cao cấp đảm bảo chất lượng hình ảnh luôn luôn ổn định, lấy nét chính xác kể cả khi hoạt động ở điều kiện thiếu sáng.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-010.jpg">
	<p>Camera góc rộng 12 MP với góc nhìn 123 độ tăng thêm góc chụp thu mọi cảnh vật thiên nhiên nhiên hùng vĩ, ảnh nhóm đông người thật dễ dàng.</p>
	<img src="view/mota_sanpham/Samsung Galaxy A52 5G/samsung-galaxy-a52-5g-006.jpg">
</div>