<div id="footer">
	<br>
	<hr>
	<div id="footer_up">
		<div id="lichsumuahang">
			<ul>
				<li><a href="#">Lịch sử mua hàng</a></li>
				<li><a href="#">Tìm hiểu vể mua trả góp</a></li>
				<li><a href="#">Chính sách bảo hành</a></li>
				<li><a href="#">Chính sách đổi trả</a></li>
				<li><a href="#"><b>Xem thêm</b></a></li>
			</ul>
		</div>
		<div id="gioithieucongty">
			<ul>
				<li><a href="#">Giới thiệu công ty</a></li>
				<li><a href="#">Tuyển dụng</a></li>
				<li><a href="#">Gửi góp ý, khiếu nại</a></li>
				<li><a href="#">Tìm siêu thị (2.200 shop)</a></li>
				<li><a href="#">Xem bản mobile</a></li>
			</ul>
		</div>
		<div id="goimuahang">
			<ul>
				<li>Gọi mua hàng<b>1800.1060</b> (7:20-22:00)</li>
				<li>Gọi khiếu nại<b>1800.1862</b> (8:00-12:00)</li>
				<li>Gọi bảo hành<b>1800.1064</b> (8:00-21:00)</li>
				<li>Kỹ thuật &emsp; &emsp;<b>1800.1763</b> (7:30-22:00)</li>
				<li><img height="50px" src="./public/img/logo/bocongthuong.png"><img height="30px" src="./public/img/logo/dmca.png"></li>
			</ul>
		</div>
		<div id="fanpage">
			<ul>
				<li><a href="#"><img height="23px" src="./public/img/logo/icfb.png">3.5tr<img height="23px" src="./public/img/logo/ytb.png">759k</a></li>
				<li>website cùng tập đoàn</li>
				<li><a href="#"><img height="40px" src="./public/img/logo/maiamtgdd.png"></a></li>
				<li><a href="#"><img height="50px" src="./public/img/logo/dien-may-xanh.png"></a></li>
				<li><a href="#"><img height="20px" src="./public/img/logo/logo-bhx.png"></a></li>
				<li><a href="?controller=pageadmin">Trang quản trị</a></li>
			</ul>
		</div>
	</div>
	<div id="footer_down"><p>© 2018. Công ty cổ phần Thế Giới Di Động. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. Xem chính sách sử dụng</p></div>
</div>
<link rel="stylesheet" type="text/css" href="./public/style/css_footer.css?v=<?php echo time(); ?>">